# General
APP_DESCRIPTION="My software description here"
APP_COPYRIGHT="Copyright (c) 2025"
APP_DEVELOPER_NAME="Your Company"
MAINTAINER_NAME="Your Name"
MAINTAINER_EMAIL="email@example.com"

# Linux Package Details
LINUX_CATEGORY="System"
LINUX_DEPENDENCIES="systemd, network-manager"

# macOS Signing Details
APPLE_DEVELOPER_ID="Developer ID Application: Your Name"
APPLE_ORGANIZATION_ID="com.yourorganizationname"
APPLE_ID="your.email@example.com"
APPLE_TEAM_ID="YOUR_TEAM_ID"
APPLE_KEYCHAIN_PROFILE="AC_PASSWORD"
APPLE_ICON_PATH="icons/AppIcon.icns"

# Windows Details
WIN_ICON_PATH="icons/windows.ico"
